<p>I noticed that people in Israel seemed to be more scared of terror attacks after recently seeing a bunch of terror attacks happen.</p>

<p>This suggests that terror attacks are more likely to occur after other terror attacks which in turn means you can estimate the probability of a terror attack occurring on a given day based on how many terror attacks occurred recently.</p>

<p> So I started looking on line for data on passed terror attacks and I found <a href="http://www.jewishvirtuallibrary.org/comprehensive-listing-of-terrorism-victims-in-israel">this</a> data set of past deadly terror attacks. Using this data I trained a logistic regression modal to calculate the probability of a deadly terror attack in Israel on a given day based on how many attacks have occurred recently and also based on whether or not it's Ramadan.
</p>

<p>You can see today's probability <a href="/">here</a></p> 
